{% load static %}
<!DOCTYPE html>
<html lang="es" class="bg-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    

    <script src="{% static 'js/funciones.js' %}"></script>
</head>
<body>
    <style>
        *{
        padding: 0px;
        margin: 0px;
    }

    body{
        height: 100%;
        width: 100%;
    }
    </style>
    
    <div class="container-fluid bg-dark text-light m-0 p-0 min-vh-100" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand">Spotify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home-reproduccion' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Perfil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Mi Perfil</a>
                  <a class="dropdown-item text-danger" href="#">Cerrar sesión</a>
                </div>
              </li>
                
                
              </ul>
                  <div class="form-inline my-2 my-lg-0">
                    <input onkeydown="buscarCancion()" 
                    class="form-control mr-sm-2" id="search" 
                    type="search" placeholder="Buscar cancion..." aria-label="Search">
                </div>
            </div>
        </nav>
        
        <div class="container-fluid" id="albums">
            {% regroup canciones by album as lista_albums %}
        {% for album in lista_albums %}
        <!-- DIV PARA DESCRIPCION Y CANCIONES DEL ALBUM -->
          <div class="container-fluid bg-dark text-light">
            <!-- TITULO Y DESCRIPCION DEL ALBUM -->
            <div class="container d-flex flex-row">
                <div class="container w-25">
                    <img src="{{MEDIA_URL}}{{ album.grouper.foto }}" alt="" style="width: 100%;">
                </div>
                <div class="container">
                    <p style="font-size: 12px;">ALBUM</p>
                    <h1 class="display-4">{{ album.grouper }}</h1>
                    <p style="font-size: 12px;">By {{ album.grouper.artista }}</p>
                    <span style="font-size: 14px;">{{ album.grouper.fecha }}</span> 
                    <span style="font-size: 14px;">•</span>
                    <span style="font-size: 14px;">{{ album.list | length }} canciones</span> 
                    <span style="font-size: 14px;">•</span>
                    <span style="font-size: 14px;">{{ album.grouper.duracion }}</span> 
                    <span style="font-size: 14px;">•</span>
                    <span style="font-size: 14px;">{{ album.grouper.genero }}</span> 
                </div>
            </div>
    
            <div class="container">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Reproducir</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Duracion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cancion in album.list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <audio preload="auto" controls type="audio/mp3">
                                    <source src="{{MEDIA_URL}}{{cancion.archivo}}">
                                </audio>
                            </td>
                            <td>{{ cancion.nombre }}</td>
                            <td>{{ cancion.autor }}</td>
                            <td>{{ cancion.duracion }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
          </div>
        {% endfor %}
        </div>

          
    </div>
</body>
</html>