{% extends 'navbar_artista.html' %}
{% load static %}

{% block content %}

<script>
    $(function(){
        $("#fecha").datepicker({
            maxDate: "+5Y",
            dateFormat: "yy-mm-dd",
            showAnim: "slide"
        })
    })
</script>

<!-- Modal -->
<div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="modalExitoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalExitoLabel">Nuevo album</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Album creado correctamente
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
</div>
  

<div class="container-fluid bg-dark text-light" style="height: 90vh;">
    <div class="container">
        <form autocomplete="off" >
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre del album">
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for="fecha">Fecha</label>
                        <input class="form-control" id="fecha" name="fecha" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                    <div class="col">
                        <label for="foto">Foto</label>
                        <input type="file" class="form-control-file" id="foto">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for="disquera">Disquera</label>
                        <input type="text" class="form-control" id="disquera" placeholder="Disquera">
                    </div>
                    <div class="col">
                        <label for="genero">Genero</label>
                        <input type="text" class="form-control" id="genero" placeholder="Genero">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label for="canciones">Canciones</label>
                        <input type="file" class="form-control-file" id="canciones" accept=".mp3" multiple placeholder="Canciones">
                    </div>
                </div>
            </div>
        </form>
            <button onclick="agregarAlbum()" type="submit" class="btn btn-primary">Crear album</button>

    </div>
    
</div>
{% endblock %}